@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@681&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600&family=Tiro+Tamil:ital@0;1&display=swap');


*{
  list-style-type: none;
}
.front-page{
    background-color: #C2EFD4;
}
/* .......navbar........ */
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #224F34;
}
.navbar-light .navbar-nav .nav-link {
    color: #224F34 !important;
    font-size: 20px;
    
}
.navbar-brand{
    font-size: 40px !important;
    font-weight: bold;
    color: #224F34 !important;
    font-family: 'Croissant One';
}
.nav-img{
    width: 30px;
    height: 30px;
}
.btn-outline-success {
    color: #198754;
    border-color:none !important;
    border: solid 2px  #198754 !important;
}
/* ......banner........ */
.banner-img{
    width: 100%;
    position: relative;
}
.banner-img img{
    width: 100% ;
}
.postion-img{
   position: absolute;
   top: 100px;
   right: 0;
   width: 110px;
   height: 100px;
   margin-right: 20px;
}
.postion-img-1{
    position: absolute;
    bottom: 39px;
    width: 90px;
    height: 90px;
    /* margin-right: 20px; */
    margin-left: 30px;
 }
.banner-content h1{
    padding-top: 50px;
    font-size: 62px;
     color: #224F34;
     font-family: 'Playfair Displa';
}
.banner-content p{
    font-size: 20px;
    word-spacing: 2px;
    font-weight: bold;
    line-height: 40px;
    color: #267D49;
    
}
.banner-content button{
    box-shadow: rgba(0, 0, 0, 0.795) 0px 25px 50px -12px;
    background: #224F34 !important;
}
/* -----------------all-heading------------------ */

.all-heading h2{
   text-align: center;
   color: #224F34;
   font-family: 'Playfair Displa';
   font-size: 44px;
   font-weight: bold;
}

.all-heading p{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #224F34;
}
.all-heading-ul{
    width: 40%;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.hot-active{
    border-bottom: solid 1px #454545;
}
@media (max-width: 568px) { 
    .all-heading-ul{
        width:100%;
        color: #454545;
        font-size: 12px;
        font-weight: 600;
    } 
    .postion-img{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50px;
        height: 100px;
        margin-right: 20px;

     }
     .postion-img-1{
        position: absolute;
        bottom: 39px;
        width: 50px;
        height: 90px;
        /* margin-right: 20px; */
        margin-left: 30px;
     }
     .Exclusive-cont h3 {
        color: #224F34;
        font-family: 'Playfair Displa';
        font-size: 31px;
        font-weight: bold;
    }
    .postion-ex-img-1{
        position: absolute;
        bottom: 20px;
        width: 40px;
        height: 40px;
        /* margin-right: 20px; */
        margin-left: 0px;
    }
    .Exclusive-cont span {
        margin-left: 10px;
    }
    .footer-content form button {
        right: 22px !important;
    }
}
@media (min-width: 569px) and (max-width: 768px){ 
    .all-heading-ul{
        width:70%;
        color: #454545;
        font-size: 12px;
        font-weight: 600;
    } 
    .footer-content form button {
        right: 45px !important;
    }
    .Exclusive-cont h3 {
        color: #224F34;
        font-family: 'Playfair Displa';
        font-size: 31px;
        font-weight: bold;
    }
}
@media (min-width: 768px) and (max-width: 1024px){ 
    .postion-ex-img-1{
        position: absolute;
        bottom: 39px;
        width: 90px;
        height: 90px;
        /* margin-right: 20px; */
        margin-left: 10px;
    }
}
/* .............selling................ */
.selling-img img{
    width: 100%;
}
.selling-img{
  background-color: #C2EFD4;
  padding: 20px;
}
.selling-content p{
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.selling-content{
    text-align: center;
    width: 100%;
}
.selling-amount{
 color: #454545;
 display: flex;
 align-content: center;
 justify-content: space-around;
 width: 50%;
 transform: translate(50%);
 font-weight: 600;
}
.selling-amount span{
    border-left: solid 1px grey;
    padding-left: 26px;
}
.color-1{
    background-color:#6a977c ;
}
.color-2{
    background-color:#335340 ;
}
/* --------------products--------------- */

.products-img img{
    width: 100%;
}

.products-content p{
    padding-top: 14px;
    font-weight: 600;
    font-size: 14px;
}
.products-content{
    text-align: center;
    width: 100%;
}
.products-amount{
 color: #454545;
 display: flex;
 align-content: center;
 justify-content: space-around;
font-size: 16px;
 font-weight: 600;
}
.products-amount span{
    border-left: solid 1px grey;
    padding-left: 26px;
}
.pro-color{
 background-color: rgb(156, 219, 219);
}
/* -------------------Exclusive-------------- */
.Exclusive-content{
   background-color: #C2EFD4;
}
.Exclusive-cont h3{
   
    color: #224F34;
    font-family: 'Playfair Displa';
    font-size: 34px;
    font-weight: bold;
}
.Exclusive-img{
position: relative;
}

.Exclusive-cont p{
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #224F34;
}
.Exclusive-cont span{
    width: 70px;
    height: 70px;
    font-size: 18px;
      font-weight: bold;
      background-color: white;
      padding: 10px;
      color: #224F34;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.Exclusive-cont .span{
    width: 64%;
}
.Exclusive-cont button{
    background-color: #103820;
}

/* -----------Desginer------------- */
.Desginer h6{
    
    font-size: 24px;
    font-weight: bold;

}
.Desginer p{
    font-size: 18px;
}
.Desginer-content .img{
  background-color: rgb(211, 193, 228);
}
/* -----------Feedback ---------------*/
.Feedback-content{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
       padding: 10px;
}
.Feedback-content h5{
    font-weight: bold;
    font-size: 18px;
    color: #224F34;
}
.Feedback-content p{
    font-size: 12px;
}
.Feedback-content-ch{
background-color: #9ed6b4;
}
.site-scroll iconify-icon{
 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
   margin: 0px 20px;
   padding: 4px 5px;
}
.site-scroll .scroll-green iconify-icon{
 
    background-color: #9ed6b4;
  }


  /* ----------------------Footer-------------------------- */
.footer{
    background-color: #224F34;
}
  .footer-content h4{
    font-size: 30px !important;
    font-weight: bold;
    color: white;
    font-family: 'Croissant One';
  }
  .footer-content p{
    color: white;
  }
  .footer-content iconify-icon{
    color: white;
    font-size: 26px;
  }
  .footer-content form input::placeholder{
    color: white !important;
  }
  .footer-content form input{
    border: solid 1px #A3F3BE !important ;
    background-color: #267D49;
    overflow: hidden;
  
  }
  .footer-content form{
   overflow: hidden;
  }
  .footer-content form button{
    position: absolute;
    right: 52px;
    border: none !important;
    background-color: #A3F3BE !important;
    color: #198754;

  }
  .footer-content li{
   color: #C2EFD4;
   padding-top: 10px;
  }
  .footer-line{
   border-top:solid 1px #A3F3BE ;
  }
  .footer-line-content li{
    color: #C2EFD4;
    font-weight: 700;
  }